h1{
  color: pink;
  background-color:black;
}
body{
  background-color:red;
  margin:0px;
}
div{
width:100%;
  hight:50%;
  border: 5px solid green;


}
.divmain{
display:flex;
  width:100%;
  height:50%


}

.diva:nth-of-type(2){

repeat:no-repeat;
  background-image: url("../Screenshot (1).png") !important;
}




@media screen and (max-width: 576px) {
  .divmain {
    flex-direction: column;
    height:50%
    width:50%
    
  }
} this is css code correct tis code
