*{
  margin:0px;
  padding:0%;
}

.header{width:100%;
       height: 10%;
       background-color: yellow;
       display:flex;
            overflow:hidden;
       
      }
.logo{
       width:25%;
       height:100%;
       background-color:black;  
           
}

.logo a{width:100%;
       height:100%;
       display:flex;
       justify-content:center;
   }
         
.logo a img{width:auto;
            height:auto; 
        
   }
.menu{
       width:75%;   
       display:flex; 
       background-color:skyblue;

}
.nav{
       width:100%;

       }

.nav ul{
           display:flex;
           list-style:none;
           text-decoration:none;
           justify-content: space-around;
       align-items:center;
      
}


.nav ul li a{
          text-decoration:none;
          color: green;
          justify-content:center;
       position:absolute;
          font-size:min(1.5vw,1.5vw);     
}
  .menu {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #333;
  display: flex;
}

.menu li {
  position: relative;
}

.menu a {
  display: block;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
}

.menu a:hover {
  background: #444;
}

/* Hide sub-menu by default */
.submenu {
  display: none;
  position: absolute;
  background: #444;
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 150px;
}

/* Show sub-menu on hover */
.has-submenu:hover .submenu {
  display: block;
}

.submenu a {
  padding: 10px;
}



@media screen and (max-width: 576px)
{
  .header{height:7%;
         background-color:red;}
}
