h1{
  color: pink;
  background-color:black;
}
body{
  background-color:red;
  margin:0px;
}
div{
width:100%;
  hight:50%;
  border: 5px solid green;


}
.divmain{
display: flex;


}

.childdiv:nth-of-type(2){

repeat:no-repeat;
  background-image: url("C:\Users\Ankit\Pictures\Feedback\{26052715-2AAE-4D7A-914D-E9AB2CD2C62E}") !important;
}




@mesia(max-width:576){
.divmain{flex-direction:colon;}
}
