.header {
  width: 100%;
  height: 10%;
  background-color: blue;
    display: flex; 
  
        

.logo {

  width: 25%;
  background-color: green;
}

.menu {
  width: 75%;
  background-color: red;
  display:flex;
}

.logo a {
  width: 100%;
  height: 100%;
 
  display: flex;         

  justify-content: center;
}

.logo a img {
  width: auto;
  height: auto;
}
  nav ul{
    display:flex;
    text-decoration:none;
    text-style:none;
  }


@media (max-width: 576px) {
  .header {
    height: 7%;
    background-color: red;
  }
}
