h1 {
  color: pink;
  background-color: black;
}

body {
  background-color: red;
  margin: 0;
}

/* All divs */
div {
  width: 100%;
  height: 50%;           /* corrected 'hight' → 'height' */
  border: 5px solid green;
}

/* Main container */
.divmain {
  display: flex;
  width: 100%;
  height: 50%;
}

/* Apply background image to second .diva */
.diva:nth-of-type(2) {
  background-repeat: no-repeat;     /* corrected 'repeat' → 'background-repeat' */
  background-image: url("../Screenshot (1).png");
  background-size: cover;           /* optional but recommended */
}

/* Responsive */
@media screen and (max-width: 576px) {
  .divmain {
    flex-direction: column;
  }
}
