h1{
  color: pink;
  background-color:black;
}
body{
  background-color:red;
  margin:0px;
}
div{
width:100%;
  hight:50%;
  border: 5px solid green;


}
.divmain{
display: flex;
width:50%;
}



@mesia(max-width:576){
.divmain{flex-direction:colon;}
}
