body{
  margin:0;
}

.header {
  width: 100%;
  height: 10%;
  background-color: blue;
    display: flex; 
  
        

.logo {

  width: 25%;
  background-color: green;
}

.menu {
  width: 75%;
  background-color: red;
  display:flex;
}

.logo a {
  width: 100%;
  height: 100%;
 
  
}

.logo a img {
  width: auto;
  height: auto;
}
  .nav{
    width:100%;
  }

  .nav ul{
    display:flex;
    text-decoration:none;
    list-style:none;
  
    
    justify-content: space-around; 

 

}


  
  

.nav ul li a{
  
    text-decoration:none;
   color:white;
  disply:flex;
  
   flex-wrap: wrap; 
     justify-content: space-around; 
}

  
mobile{width:0;
      } 
@media (max-width: 576px) {
  .header {
    height: 7%;
    background-color: red;
  }
}

