* {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  background: yellow;
  display: flex;
  align-items: center;
}

.logo {
  width: 25%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  height: 60px;
}

.menu {
  width: 75%;
  background: skyblue;
}

.nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.nav ul li {
  list-style: none;
  position: relative;
}

.nav ul li a {
  color: green;
  font-size: 1.2vw;
  padding: 10px 15px;
  display: block;
  text-decoration: none;
}

/* FIXED: Removed wrong space */
.nav ul li .submenu {
  display: none;
  padding: 5px 0;
  position: absolute;
  left: 0;
  background: white;
  max-width: 200px;
  z-index: 1;
  border: 1px solid #ccc;
}

/* FIXED: Hover now works */
.nav ul li:hover .submenu {
  display: block;
}

.nav ul li.submenu li {
  width: 100%;
  text-align: left;
}

.nav ul li.submenu li a {
  font-size: 1vw;
  padding: 8px 10px;
  color: black;
}
