.header{
  width:100%;
  height:10%;
  background-color: yellow;

  }
@media (max-width:576px)
 .header{
  height:7%
  background-color:red;}


.logo{
  display-column:flex;
  width:25%;
  background-color:green;
}

.menu{
 width:75%;
 background-color:red;
}

.logo a{
  width:100%;
  height:100%;
  text-align :center;
}

.logo a img{
  width: auto;
  height: auto;
}

@media (max-width:576px)
 .header{
  height:7%
  background-color:red;
   }
}
