*{
  margin:0px;
  padding:0%;
}

.header{width:100%;
       height: 10%;
       background-color: yellow;
       display:flex;
            overflow:hidden;
       
      }
.logo{
       width:25%;
       height:100%;
       background-color:black;  
           
}

.logo a{width:100%;
       height:100%;
       display:flex;
       justify-content:center;
   }
         
.logo a img{width:auto;
            height:auto; 
        
   }
.menu{
       width:75%;   
       display:flex; 
       background-color:skyblue;

}
.nav{
       width:100%;

       }

.nav ul{
           display:flex;
           list-style:none;
           text-decoration:none;
           justify-content: space-around;
       align-items:center;
      
}


.nav ul li a{
          text-decoration:none;
          color: green;
          justify-content:center;
      
          font-size:min(1.5vw,1.5vw);     
}/**/
.nav ul li{
  position:relative;
}
  .submenu{
  display:none;
  position:absolute;
  top:100%;
  left:0;
  background:#444;
  list-style:none;
  min-width:150px;
  padding:0;
  margin:0;
}

/* SUBMENU LINKS */
.submenu li a{
  padding:10px;
  display:block;
  color:white;
  font-size:14px;
}

/* SHOW SUBMENU ON HOVER */
.nav ul li:hover .submenu{
  display:block;
}





@media screen and (max-width: 576px)
{
  .header{height:7%;
         background-color:red;}
}
