h1{
  color: pink;
  background-color:black;
}
body{
  background-color:red;
  margin:0px;
}
div{
width:100%;
  hight:50%;
  border: 5px solid green;


}
.divmain{
display:flex;
  width:100%;
  height:50%


}

.childdiv:nth-of-type(2){

repeat:no-repeat;
  background-image: url("../Screenshot (1).png") !important;
}




@mesia(max-width:576){
.divmain{flex-direction:colon;}
}
