*{
  margin:0px;
  padding:0%;
}

.header{width:100%;
       height: 10%;
       background-color: yellow;
       display:flex;
            overflow:hidden;
       
      }
.logo{
       width:25%;
       height:100%;
       background-color:black;  
           
}

.logo a{width:100%;
       height:100%;
       display:flex;
       justify-content:center;
   }
         
.logo a img{width:auto;
            height:auto; 
        
   }
.menu{
       width:75%;   
       display:flex; 
       background-color:skyblue;

}
.nav{
       width:100%;

       }

.nav ul{
           display:flex;
           list-style:none;
           text-decoration:none;
           justify-content: space-around;
       align-items:center;
      
}


.nav ul li a{
          text-decoration:none;
          color: green;
          justify-content:center;
      
          font-size:min(1.5vw,1.5vw);     
}/**//* Make sure parent li is relative (already correct) */
.nav ul li {
    position: relative;
}

/* Submenu styling */
.submenu {
    display: none;        /* Hide by default */
    position: absolute;   /* Position below parent menu */
    top: 100%;            /* Just below parent li */
    left: 0;
    background: #444;
    list-style: none;
    min-width: 160px;
    padding: 0;
    margin: 0;
    z-index: 1000;        /* Ensure it appears above other elements */
}

/* Submenu links */
.submenu li a {
    display: block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    font-size: 14px;
}

/* Change background on hover */
.submenu li a:hover {
    background: #555;
}

/* Show submenu on parent hover */
.has-submenu:hover .submenu {
    display: block;
}







