h1{
  color: pink;
  background-color:black;
}
body{
  background-color:red;
  margin:0px;
}
diva{
width:50%;
  hight:50%;
  border: 15px solid green;


}
.divmain{
display:flex;
 height:100%;


}

.diva:nth-of-type(2){
border: 15px solid green;

repeat:no-repeat;
  background-image: url("../Screenshot (1).png") !important;
}




@media screen and (max-width: 576px) {
  .divmain {
    flex-direction: column;
  }

  .diva{width:100%;
           height:50%;}
} 
