* {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  background: yellow;
  display: flex;
  align-items: center;
}

.logo {
  width: 25%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  height: 60px;
}

.menu {
  width: 75%;
  background: skyblue;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.navbar ul li {
  list-style: none;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: green;
  font-size: 1.2vw;
  padding: 10px 15px;
  display: block;
}

/* ------- SUBMENU (dropdown) ------- */
.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  min-width: 120px;
  border: 1px solid #ccc;
}

.submenu li {
  width: 100%;
  text-align: left;
}

.submenu li a {
  font-size: 1vw;
  padding: 8px 10px;
  color: black;
}

/* Show submenu on hover */
.navbar ul li:hover .submenu {
  display: block;
}
