body{
  margin:0px;
}

.header{width:100%;
       height: 10%;
       background-color: yellow;
       display:flex;
          
       
      }
.logo{
       width:25%;
      
       background-color:black;  
           
}

.logo a{width:100%;
       height:100%;
       display:flex;
       justify-content:center;
   }
         
.logo a img{width:auto;
            height:auto; 
        
   }
.menu{
       width:75%;   
       display:flex; 
       background-color:skyblue;

}
.nav{
       width:100%;
  height:100%;

       }

.nav ul{
      width:100%;
  height:100%;
           display:flex;
          align-items:center;
           justify-content: space-around;
      
}
menu ul li{list-style-type:none;
           padding-bottom:2.5%;


.nav ul li a{
          text-decoration:none;
          color: green;
          position:absolute;
          font-size:min(1.5vw,1.5vw);     
}
              


@media screen and (max-width: 576px)
{
  .header{height:7%;
         background-color:red;}
}
